<section class="bg-gray-50 dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 grid lg:grid-cols-2 gap-8 lg:gap-16">
        <div class="flex flex-col justify-center">
            <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">Ter o controle para melhores resultados</h1>
            <p class="mb-6 text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400"> Mantenha seu inventário organizado e saiba como o dinheiro entra e sai do seu negócio com relatórios detalhados.</p>
            <a href="https://aqciondigital.web.app/" class="text-[#824356] dark:text-[#824356] hover:underline font-medium text-lg inline-flex items-center">Desenvolvido por 
                <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </a>
        </div>
        <div>
            <div class="w-full lg:max-w-xl p-6 space-y-8 sm:p-8 bg-white rounded-lg shadow-xl dark:bg-gray-800">
                <h2 class="text-2xl font-bold text-gray-900 dark:text-white">
                    Registro Administrativo
                </h2>
                <form class="mt-8 space-y-6" (ngSubmit)="onSubmit()">
                    <div>
                        <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nome de usuário</label>
                        <input type="text" name="username" id="username" [(ngModel)]="user.username" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#824356] focus:border-[#824356] block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-[#824356] dark:focus:border-[#824356]" placeholder="Nome de usuário" required>
                    </div>
                    <div>
                        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">E-mail</label>
                        <input type="email" name="email" id="email" [(ngModel)]="user.email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#824356] focus:border-[#824356] block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-[#824356] dark:focus:border-[#824356]" placeholder="name@company.com" required>
                    </div>
                    <div>
                        <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Senha</label>
                        <input type="password" name="password" id="password" [(ngModel)]="user.password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#824356] focus:border-[#824356] block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-[#824356] dark:focus:border-[#824356]" required>
                    </div>
                    <button type="submit" class="w-full px-5 py-3 text-base font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 sm:w-auto dark:bg-blue-700 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Registrar</button>
                    <button type="submit" class="w-full px-5 py-3 text-base font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 sm:w-auto dark:bg-blue-700 dark:hover:bg-blue-700 dark:focus:ring-blue-800 ml-5" routerLink="/login">Ir ao Login</button>
                    <div class="text-sm font-medium text-gray-900 dark:text-white">
                        <!-- Not registered yet? <a class="text-[#824356] hover:underline dark:text-[#824356]">Create account</a> -->
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
