<section class="bg-gray-50 dark:bg-gray-700 mb-10">
  <div class="max-w-screen-xl px-4 py-3 mx-auto">
    <div class="flex items-center">
      <ul class="flex flex-row font-medium mt-0 mr-6 space-x-8 text-sm">
        <li>
          <a routerLink="/cadastro_estoque" class="text-gray-900 dark:text-white hover:underline">Cadastro Estoque</a>
        </li>
        <li>
          <a routerLink="/consulta_estoque" class="text-gray-900 dark:text-white hover:underline">Consulta Estoque</a>
        </li>
        <li>
          <a routerLink="/cadastro_vendas" class="text-gray-900 dark:text-white hover:underline">Cadastro Vendas</a>
        </li>
        <li>
          <a routerLink="/consulta_vendas" class="text-gray-900 dark:text-white hover:underline">Consulta Vendas</a>
        </li>
        <li>
          <a routerLink="/fornecedores" class="text-gray-900 dark:text-white hover:underline">Fornecedores</a>
        </li>
      </ul>
    </div>
  </div>
</section>
<div class="flex flex-col p-4">
  <h1 class="text-3xl font-bold mb-5 text-center text-[#824356]">Consulta do estoque</h1>
  <div class="flex">
    <button class="bg-red-500 hover:bg-red-600 text-white px-4 py-2 w-32 ml-10" (click)="excluirTodosItens()">Excluir
      Todos</button>
    <p class="text-xl ml-5 flex items-center ml-5">Valor total dos custos: {{ formatarDinheiro(valorTotalCusto) }}</p>
  </div>
  <div class="overflow-x-auto ml-10 mr-10 mt-5">
    <table class="min-w-full">
      <thead>
        <tr>
          <!-- <th class="px-6 py-3 bg-gray-200 text-gray-600">Item ID</th> -->
          <th class="px-6 py-3 bg-gray-200 text-gray-600">Nome da Peça</th>
          <th class="px-6 py-3 bg-gray-200 text-gray-600">Descrição</th>
          <th class="px-6 py-3 bg-gray-200 text-gray-600">Tamanho</th>
          <th class="px-6 py-3 bg-gray-200 text-gray-600">Fornecedor</th>
          <th class="px-6 py-3 bg-gray-200 text-gray-600">Quantidade Disponível</th>
          <th class="px-6 py-3 bg-gray-200 text-gray-600">Preço de Compra</th>
          <th class="px-6 py-3 bg-gray-200 text-gray-600">Preço de Venda</th>
          <th class="px-6 py-3 bg-gray-200 text-gray-600">Custo Total</th>
          <th class="px-6 py-3 bg-gray-200 text-gray-600">Ações</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of estoqueItens"
          class="border-b border-gray-200 text-center odd:bg-gray-100 even:bg-white">
          <!-- <td class="px-6 py-4">{{ item.id }}</td> -->
          <td class="px-6 py-4">{{ item.nome }}</td>
          <td class="px-6 py-4">{{ item.descricao }}</td>
          <td class="px-6 py-4">{{ item.tamanho }}</td>
          <td class="px-6 py-4">{{ item.fornecedor }}</td>
          <td class="px-6 py-4">{{ item.quantidade }}</td>
          <!-- <td class="px-6 py-4">{{ item.preco }}</td> -->
          <td>{{ formatarDinheiro(item.precocompra) }}</td>
          <td>{{ formatarDinheiro(item.preco) }}</td>

          <td>{{ formatarDinheiro(calcularValorTotal(item)) }}</td>

          <td class="px-6 py-4">
            <button class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 mr-2 mb-2"
              (click)="editarItem(item)">Editar</button>
            <button class="bg-red-500 hover:bg-red-600 text-white px-4 py-2 mr-2"
              (click)="excluirItem(item)">Excluir</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>